In [3]:
import pandas as pd
DF = pd.read_csv('tesis.csv')

In [7]:

DF['Año'] = pd.to_datetime(DF['Año'], format='%Y-%m-%d')
DF

,Institución,Título de la tesis,Nombre del tesista,Grado,Nombre del asesor,Resumen,Año
0,Pontificia Universidad Católica del Perú. Escu...,Estimación del ciclo financiero utilizando mét...,"Atoche Murrieta, Lilian Katherine",Magíster en Estadística,"Camiz, Sergio",La presente tesis tiene por objetivo identific...,2022-09-22
1,Pontificia Universidad Católica del Perú. Escu...,Método para la fusión de categorías usando téc...,"Farro Diaz, Victor Daniel",Magíster en Estadística,"Bayes Rodriguez, Cristian Luis","En la actualidad, muchas organizaciones dispon...",2022-04-28
2,Pontificia Universidad Católica del Perú. Escu...,Redes neuronales convolucionales para datos co...,"Cotacallapa Amanqui, Pavel Arturo",Magíster en Estadística,"Benites Sanchez, Luis Enrique",En muchas situaciones prácticas es necesario e...,2022-04-07
3,Pontificia Universidad Católica del Perú. Escu...,Modelo de regresión cuantílica para respuestas...,"Manrique Urbina, Justo Andrés",Magíster en Estadística,"Bayes Rodriguez, Cristian Luis",La presente tesis propone un modelo de regresi...,2022-03-21
4,Pontificia Universidad Católica del Perú. Escu...,Clasiﬁcación de riesgo para frecuencias y seve...,"Hernández Bello, Diana Patricia",Magíster en Estadística,"Valdivieso Serrano, Luis Hilmar","En la tariﬁcación de seguros generales, en par...",2022-03-16
...,...,...,...,...,...,...,...
139,Universidad Nacional Agraria La Molina. Escuel...,Regresión bayesiana con enlaces asimétricos pa...,"Fernández Vásquez, Richard Fernando",Magister Scientiae - Estadística Aplicada,"Chue Gallardo, Jorge",En la actualidad las entidades bancarias convi...,2018-02-20
140,Universidad Nacional Agraria La Molina. Escuel...,Estimación de componentes de varianza utilizan...,"Vargas Paredes, Ana Cecilia",Magister Scientiae - Estadística Aplicada,"Maehara Oyata, Víctor Manuel",Se estimó mediante un modelo lineal mixto los ...,2017-11-13
141,Universidad Nacional Agraria La Molina. Escuel...,Modelos semiparamétricos de eventos recurrente...,"Rebaza Fernández, Diana del Rocío",Magister Scientiae - Estadística Aplicada,"Maehara Oyata, Víctor Manuel",La recurrencia de un evento en un paciente es ...,2017-11-13
142,Universidad Nacional Agraria La Molina. Escuel...,Modelos estadísticos en procesos puntuales esp...,"Quispe Quispe, Braulio",Magister Scientiae - Estadística Aplicada,"López de Castilla Vásquez, Carlos",La presente tesis plantea una aplicación de lo...,2017-10-03
143,Universidad Nacional Agraria La Molina. Escuel...,Aplicación de redes neuronales y regresión log...,"Muñoz Muñoz, Emanuel Guillermo",Magister Scientiae - Estadística Aplicada,"Chue Gallardo, Jorge",El propósito de este trabajo es presentar y ap...,2016-08-02

In [12]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Institución         144 non-null    object
 1   Título de la tesis  144 non-null    object
 2   Nombre del tesista  144 non-null    object
 3   Grado               144 non-null    object
 4   Nombre del asesor   129 non-null    object
 5   Resumen             144 non-null    object
 6   Año                 144 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(6)
memory usage: 8.0+ KB

In [11]:
filtered_DF = DF.query("Año >= '2020-01-01' \
                       and Año < '2020-12-31'")
filtered_DF

,Institución,Título de la tesis,Nombre del tesista,Grado,Nombre del asesor,Resumen,Año
21,Pontificia Universidad Católica del Perú. Escu...,Jointly modelling of cluster dependent pro les...,"Cortés Tejada, Fernando Javier",Magíster en Estadística,"Bayes Rodríguez, Cristian Luis",En la presente tesis se proponen modelos de cl...,2020-10-27
22,Pontificia Universidad Católica del Perú. Escu...,Regresión espacial cuantílica para variables a...,"García Céspedes, Carlos Jeffer",Magíster en Estadística,"Quiroz Cornejo, Zaida Jesús",El Perú es un país emergente donde el desarrol...,2020-10-26
23,Pontificia Universidad Católica del Perú. Escu...,Extensión al modelo DINA reparametrizado con c...,"Sáenz Egúsquiza, Miguel Angel",Magíster en Estadística,"Valdivieso Serrano, Luis Hilmar","En el campo educacional, cuando los estudiante...",2020-10-20
24,Pontificia Universidad Católica del Perú. Escu...,Modelo bayesiano geoestadístico beta-inflacion...,"Barriga Pozada, Alfonso Carlos Cesar",Magíster en Estadística,"Quiroz Cornejo, Zaida Jesús",En esta tesis proponemos un nuevo modelo geoes...,2020-09-29
25,Pontificia Universidad Católica del Perú. Escu...,Modelo lineal mixto de clases latentes con res...,"Renteria Sacha, Ivonne Mireille",Magíster en Estadística,"Valdivieso Serrano, Luis Hilmar",Los modelos lineales mixtos de clases latentes...,2020-01-16

In [13]:
DF.describe()

C:\Users\KEMERLY\AppData\Local\Temp\ipykernel_17452\2918873499.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  DF.describe()

,Institución,Título de la tesis,Nombre del tesista,Grado,Nombre del asesor,Resumen,Año
count,144,144,144,144,129,144,144
unique,4,144,142,5,32,144,103
top,Universidad Nacional Agraria La Molina. Facult...,Estimación del ciclo financiero utilizando mét...,"Dongo Román, Andie Bryan",Magíster en Estadística,"Bayes Rodríguez, Cristian Luis",La presente tesis tiene por objetivo identific...,2017-01-13 00:00:00
freq,63,1,2,61,16,1,9
first,NaN,NaN,NaN,NaN,NaN,NaN,2012-08-15 00:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-30 00:00:00

In [109]:
PUCP_P=DF.iloc[:61, :]
PUCP_P12 = len(PUCP_P.query("Año >= '2012-01-01' \
                       and Año < '2012-12-31'"))
PUCP_P13 = len(PUCP_P.query("Año >= '2013-01-01' \
                       and Año < '2013-12-31'"))
PUCP_P14 = len(PUCP_P.query("Año >= '2014-01-01' \
                       and Año < '2014-12-31'"))
PUCP_P15 = len(PUCP_P.query("Año >= '2015-01-01' \
                       and Año < '2015-12-31'"))
PUCP_P16 = len(PUCP_P.query("Año >= '2016-01-01' \
                       and Año < '2016-12-31'"))
PUCP_P17 = len(PUCP_P.query("Año >= '2017-01-01' \
                       and Año < '2017-12-31'"))
PUCP_P18 = len(PUCP_P.query("Año >= '2018-01-01' \
                       and Año < '2018-12-31'"))
PUCP_P19 = len(PUCP_P.query("Año >= '2019-01-01' \
                       and Año < '2019-12-31'"))
PUCP_P20 = len(PUCP_P.query("Año >= '2020-01-01' \
                       and Año < '2020-12-31'"))
PUCP_P21 = len(PUCP_P.query("Año >= '2021-01-01' \
                       and Año < '2021-12-31'"))
PUCP_P22 = len(PUCP_P.query("Año >= '2022-01-01' \
                       and Año < '2022-12-31'"))

PUCP_F = pd.DataFrame({'Institución': ['PUCP', 'PUCP', 'PUCP','PUCP', 'PUCP', 'PUCP', 'PUCP','PUCP','PUCP','PUCP','PUCP'],
                       'Año': [2012, 2013, 2014,2015, 2016, 2017, 2018,2019,2020,2021,2022],
                   'tesis por Año' : [PUCP_P12, PUCP_P13, PUCP_P14, 
                            PUCP_P15, PUCP_P16, PUCP_P17, 
                            PUCP_P18, PUCP_P19, PUCP_P20, 
                            PUCP_P21,PUCP_P22]})

PUCP_F

   Institución   Año  tesis por Año
0         PUCP  2012              4
1         PUCP  2013              4
2         PUCP  2014              0
3         PUCP  2015              6
4         PUCP  2016              6
5         PUCP  2017              4
6         PUCP  2018              6
7         PUCP  2019              5
8         PUCP  2020              5
9         PUCP  2021             14
10        PUCP  2022              7

In [110]:
UNALM_PRE=DF.iloc[61:124, :]
UNALM_PRE_P12 = len(UNALM_PRE.query("Año >= '2012-01-01' \
                       and Año < '2012-12-31'"))
UNALM_PRE_P13 = len(UNALM_PRE.query("Año >= '2013-01-01' \
                       and Año < '2013-12-31'"))
UNALM_PRE_P14 = len(UNALM_PRE.query("Año >= '2014-01-01' \
                       and Año < '2014-12-31'"))
UNALM_PRE_P15 = len(UNALM_PRE.query("Año >= '2015-01-01' \
                       and Año < '2015-12-31'"))
UNALM_PRE_P16 = len(UNALM_PRE.query("Año >= '2016-01-01' \
                       and Año < '2016-12-31'"))
UNALM_PRE_P17 = len(UNALM_PRE.query("Año >= '2017-01-01' \
                       and Año < '2017-12-31'"))
UNALM_PRE_P18 = len(UNALM_PRE.query("Año >= '2018-01-01' \
                       and Año < '2018-12-31'"))
UNALM_PRE_P19 = len(UNALM_PRE.query("Año >= '2019-01-01' \
                       and Año < '2019-12-31'"))
UNALM_PRE_P20 = len(UNALM_PRE.query("Año >= '2020-01-01' \
                       and Año < '2020-12-31'"))
UNALM_PRE_P21 = len(UNALM_PRE.query("Año >= '2021-01-01' \
                       and Año < '2021-12-31'"))
UNALM_PRE_P22 = len(UNALM_PRE.query("Año >= '2022-01-01' \
                       and Año < '2022-12-31'"))

UNALM_PREF = pd.DataFrame({'Institución': ['UNALM_PRE', 'UNALM_PRE', 'UNALM_PRE','UNALM_PRE', 'UNALM_PRE', 'UNALM_PRE', 'UNALM_PRE','UNALM_PRE','UNALM_PRE','UNALM_PRE','UNALM_PRE'],
                       'Año': [2012, 2013, 2014,2015, 2016, 2017, 2018,2019,2020,2021,2022],
                   'tesis por Año' : [UNALM_PRE_P12, UNALM_PRE_P13, UNALM_PRE_P14, 
                            UNALM_PRE_P15, UNALM_PRE_P16, UNALM_PRE_P17, 
                            UNALM_PRE_P18, UNALM_PRE_P19, UNALM_PRE_P20, 
                            UNALM_PRE_P21,UNALM_PRE_P22]})

UNALM_PREF

   Institución   Año  tesis por Año
0    UNALM_PRE  2012              0
1    UNALM_PRE  2013              0
2    UNALM_PRE  2014              0
3    UNALM_PRE  2015              0
4    UNALM_PRE  2016              2
5    UNALM_PRE  2017             13
6    UNALM_PRE  2018             13
7    UNALM_PRE  2019              4
8    UNALM_PRE  2020              0
9    UNALM_PRE  2021             24
10   UNALM_PRE  2022              7

In [111]:
UNALM_POST=DF.iloc[124:, :]
UNALM_POST_P12 = len(UNALM_POST.query("Año >= '2012-01-01' \
                       and Año < '2012-12-31'"))
UNALM_POST_P13 = len(UNALM_POST.query("Año >= '2013-01-01' \
                       and Año < '2013-12-31'"))
UNALM_POST_P14 = len(UNALM_POST.query("Año >= '2014-01-01' \
                       and Año < '2014-12-31'"))
UNALM_POST_P15 = len(UNALM_POST.query("Año >= '2015-01-01' \
                       and Año < '2015-12-31'"))
UNALM_POST_P16 = len(UNALM_POST.query("Año >= '2016-01-01' \
                       and Año < '2016-12-31'"))
UNALM_POST_P17 = len(UNALM_POST.query("Año >= '2017-01-01' \
                       and Año < '2017-12-31'"))
UNALM_POST_P18 = len(UNALM_POST.query("Año >= '2018-01-01' \
                       and Año < '2018-12-31'"))
UNALM_POST_P19 = len(UNALM_POST.query("Año >= '2019-01-01' \
                       and Año < '2019-12-31'"))
UNALM_POST_P20 = len(UNALM_POST.query("Año >= '2020-01-01' \
                       and Año < '2020-12-31'"))
UNALM_POST_P21 = len(UNALM_POST.query("Año >= '2021-01-01' \
                       and Año < '2021-12-31'"))
UNALM_POST_P22 = len(UNALM_POST.query("Año >= '2022-01-01' \
                       and Año < '2022-12-31'"))

UNALM_POSTF = pd.DataFrame({'Institución': ['UNALM_POST', 'UNALM_POST', 'UNALM_POST','UNALM_POST',
                                                'UNALM_POST', 'UNALM_POST', 'UNALM_POSTE','UNALM_POST','UNALM_POST',
                                                'UNALM_POST','UNALM_POST'],
                       'Año': [2012, 2013, 2014,2015, 2016, 2017, 2018,2019,2020,2021,2022],
                   'tesis por Año' : [UNALM_POST_P12, UNALM_POST_P13, UNALM_POST_P14, 
                            UNALM_POST_P15, UNALM_POST_P16, UNALM_POST_P17, 
                            UNALM_POST_P18, UNALM_POST_P19, UNALM_POST_P20, 
                            UNALM_POST_P21,UNALM_POST_P22]})

UNALM_POSTF

    Institución   Año  tesis por Año
0    UNALM_POST  2012              0
1    UNALM_POST  2013              0
2    UNALM_POST  2014              0
3    UNALM_POST  2015              0
4    UNALM_POST  2016              1
5    UNALM_POST  2017              3
6   UNALM_POSTE  2018              8
7    UNALM_POST  2019              6
8    UNALM_POST  2020              0
9    UNALM_POST  2021              1
10   UNALM_POST  2022              1

In [112]:
Numero_tesis = pd.concat([PUCP_F, UNALM_PREF,UNALM_POSTF])
Numero_tesis

    Institución   Año  tesis por Año
0          PUCP  2012              4
1          PUCP  2013              4
2          PUCP  2014              0
3          PUCP  2015              6
4          PUCP  2016              6
5          PUCP  2017              4
6          PUCP  2018              6
7          PUCP  2019              5
8          PUCP  2020              5
9          PUCP  2021             14
10         PUCP  2022              7
0     UNALM_PRE  2012              0
1     UNALM_PRE  2013              0
2     UNALM_PRE  2014              0
3     UNALM_PRE  2015              0
4     UNALM_PRE  2016              2
5     UNALM_PRE  2017             13
6     UNALM_PRE  2018             13
7     UNALM_PRE  2019              4
8     UNALM_PRE  2020              0
9     UNALM_PRE  2021             24
10    UNALM_PRE  2022              7
0    UNALM_POST  2012              0
1    UNALM_POST  2013              0
2    UNALM_POST  2014              0
3    UNALM_POST  2015              0
4    UNALM_POST  2016              1
5    UNALM_POST  2017              3
6   UNALM_POSTE  2018              8
7    UNALM_POST  2019              6
8    UNALM_POST  2020              0
9    UNALM_POST  2021              1
10   UNALM_POST  2022              1

In [114]:
TT_PUCP_P=len(DF.iloc[:61, :])
TT_UNALM_PRE=len(DF.iloc[61:124, :])
TT_UNALM_POST=len(DF.iloc[124:, :])
R_TESIS = pd.DataFrame({'Institución': ['PUCP_P', 'UNALM_PRE', 'UNALM_POST',],
                   'Numero_tesis_total' : [TT_PUCP_P, TT_UNALM_PRE, TT_UNALM_POST]})
R_TESIS

  Institución  Numero_tesis_total
0      PUCP_P                  61
1   UNALM_PRE                  63
2  UNALM_POST                  20

In [127]:
print(PUCP_P["Nombre del asesor"].value_counts())
len(PUCP_P["Nombre del asesor"].value_counts())

Bayes Rodríguez, Cristian Luis        16
Valdivieso Serrano, Luis Hilmar       14
Sal y Rosas Celi, Víctor Giancarlo     6
Bazán Guzmán, Jorge Luis               6
Quiroz Cornejo, Zaida Jesús            5
Bayes Rodriguez, Cristian Luis         3
Benites Sánchez, Luis Enrique          3
Tarazona Vargas, Enver Gerald          3
Doig Camino, Elizabeth                 2
Camiz, Sergio                          1
Benites Sanchez, Luis Enrique          1
Sikov, Anna                            1
Name: Nombre del asesor, dtype: int64

12

In [125]:
print(UNALM_PRE["Nombre del asesor"].value_counts())
len(UNALM_PRE["Nombre del asesor"].value_counts())

Menacho Chiok, César Higinio              8
Rosas Villena, Fernando René              8
Chue Gallardo, Jorge                      7
Soto Rodríguez, Iván Dennys               6
Salinas Flores, Jesús Walter              6
Sotomayor Ruíz, Rino Nicanor              4
Gamboa Unsihuay, Jesús Eduardo            2
Miranda Villagómez, Clodomiro Fernando    1
Valencia Chacón, Raphael Félix            1
Vargas Paredes, Ana Cecilia               1
Espinoza Villanueva, Luis Enrique         1
Gonzáles Chavesta, Celso                  1
López de Castilla Vásquez, Carlos         1
Rubio Donet, Arturo                       1
Name: Nombre del asesor, dtype: int64

14

In [126]:
print(UNALM_POST["Nombre del asesor"].value_counts())
len(UNALM_POST["Nombre del asesor"].value_counts())

Chue Gallardo, Jorge                      4
Porras Cerrón, Jaime Carlos               3
Miranda Villagomez, Clodomiro Fernando    3
Maehara Oyata, Víctor Manuel              2
Gamboa Unsihhuay, Jesús Eduardo           1
Sotomayor Ruíz, Rino Nicanor              1
Rosas Villena, Fernando René              1
Febres Huamán, Grimaldo                   1
Acevedo Mallque, Moisés Pascual           1
Gonzáles Chavesta, Celso                  1
Menacho Chiok, César Higinio              1
López de Castilla Vásquez, Carlos         1
Name: Nombre del asesor, dtype: int64

12